<%= form_with model: @user, local: true do |f| %>
  <p>
    <%= f.text_field :username, placeholder: 'userName'%>
    <% if @user.errors.messages[:username].any? %>
    <span class="error"><%= @user.errors.messages[:username][0] %></span>
    <% end %>
  </p>

  <p>
    <%= f.text_field :mail, placeholder: 'Mail' %>
    <% if @user.errors.messages[:mail].any? %>
      <span><%= @user.errors.messages[:mail][0] %></span>
    <% end %>
  </p>

  <p>
    <%= f.password_field :password, placeholder: 'password' %>
    <% if @user.errors.messages[:password].any? %>
    <span><%= @user.errors.messages[:password][0] %></span>
    <% end %>
  </p>

  <p>
    <%= f.password_field :password_confirmation, placeholder: 'password_confirmation' %>
    <% if @user.errors.messages[:password_confirmation].any? %>
    <span><%= @user.errors.messages[:password_confirmation][0] %></span>
    <% end %>
  </p>


  <p>
    <%= f.submit %>
  </p>

<% end %>
